@import "susy"
@import "compass/css3"
@import "compass/typography"
@import "compass/utilities/sprites"
@import "variables"
@import "mixins"
@import "fonts"


// Susy config
// =========
$susy: (columns: 12, gutters: 1/4)


// Sprites
// =========
@import "social/*.png"
@include all-social-sprites


// Base elements
// =========
html
  font-size: 62.5%

body
  color: $gray-medium
  font-family: $arista
  @include font-size(16)
  margin: 0
  background: #ffffff url(../img/bg.png) repeat

a
  color: inherit


// Content
// =========
#container
  @include container
  @include breakpoint(large)
    @include container($large)
