@import "susy"
@import "compass/css3"
@import "compass/typography"
@import "compass/utilities/sprites"
@import "variables"
@import "mixins"
@import "fonts"


// Susy config
// =========
$susy: (columns: 12, gutters: 1/4)


// Sprites
// =========
@import "social/*.png"
@include all-social-sprites

@import "badge/*.png"
@include all-badge-sprites


// Base elements
// =========
html
  font-size: 62.5%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  color: $gray-dark
  font-family: $arista
  @include font-size(16)
  margin: 0
  background: #ffffff image-url("bg.png") repeat

a
  color: inherit

.clearfix
  &:after
    content: ""
    display: table
    clear: both


// Content
// =========
#container
  @include container
  @include breakpoint(large)
    @include container(960px)
